<!DOCTYPE html>
<html>
    <head>
    <style>
    .image
{
    height: 100%;
    width: 100%;
    background-image: url("view/apples.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: fixed;
    top: auto;
    left: auto;
}
.text
{
    text-align: center;
    color: palevioletred;
}
.button
{
    background-color: palevioletred;
}
    
    </style>
     <title>Frukart</title>
        <link rel="stylesheet" href="welcome.css">
    </head>
    <body class="image text ">
        <p><h1>"We Serve Fresh And Juicy Fruits From Our Farm"</h1></p>
        <form action="registration">
        <button class="button">Sign Up</button>
    </form>
    </body>
   
</html>