<!DOCTYPE html>
<html>
<head>
<style>
.image
{
    height: 100%;
    width: 90%;
    background-image: url("view/berry.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: fixed;
    top: auto;
    left: auto;
}
.text
{
    text-align: right;
    color:black;
}
</style>
        <title>Sign Up</title>
        <link rel="stylesheet" href="Signup.css">
        
</head>
<body class="image text">
        
            <div class="container">
              <h1>Sign Up</h1>
	<form action="sucess">
              <label for="name"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" name="name" required>
        <br><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
<br><br>
              <label for="mobile"><b>Mobile</b></label>
              <input type="text" placeholder="Enter mobile no." name="mobile" required>
    <br>
    <br>

    <label for="place"><b>Place</b></label>
              <input type="text" placeholder="Place" name="place" required>
    <br>
    <br>
    
                <button type="submit" class="signupbtn">Sign Up</button>

          </form>
            </div>

</body>
</html>