<!DOCTYPE html>
<html>
    <head>
    <style>
    .image
{
    height: 100%;
    width: 100%;
    background-image: url("view/agriculture-apple-blur-257840.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: fixed;
    top: auto;
    left: auto;
}
.text
{
    text-align: center;
    color: black;
}
    </style>
        <title>Sucess</title>
        <link rel="stylesheet" href="Sucess.css">
    </head>
<body class="image text">
    <p><h1>You are registered Successfully</h1></p>
    <br>
    <p><h1>"Welcome To Frukart"</h1></p>
</body>
</html>